* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.head-bg {
  background-image: url(../images/banner/banner1.png);
  background-repeat: no-repeat;
  height: 808px;
  width: 100%;
  border: 0.5px solid white;
  text-align: right;
}
.hero-heading-container {
  margin: 216px 230px 20px 845px;
}
.hero-heading-container p {
  font-size: 55px;
  font-weight: 900;
}
.hero-text {
  font-size: 16px;
  text-align: right;
  margin: 0px 230px 32px 800px;
  line-height: 26px;
}
.btn {
  padding: 20px 25px;
  color: #ffffff;
  background-color: #f15b22;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin: 0px 230px 166px 0px;
}
