* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.head-bg {
  background-image: url(../images/banner/banner1.png);
  background-repeat: no-repeat;
  height: 808px;
  width: 100%;
  border: 0.5px solid white;
  text-align: right;
}
.hero-heading-container {
  margin: 216px 230px 20px 845px;
}
.hero-heading-container p {
  font-size: 55px;
  font-weight: 900;
}
.hero-text {
  font-size: 16px;
  text-align: right;
  margin: 0px 230px 32px 800px;
  line-height: 26px;
}
.btn {
  padding: 20px 25px;
  color: #ffffff;
  background-color: #f15b22;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin: 0px 230px 166px 0px;
}
#previous-failure {
  width: 1072px;
  margin: 131px 300px 0px 190px;
}
#previous-failure .failure-container{
    display: flex;
    gap: 30px;
}
#previous-failure .failure-image {
  width: 569px;
}
#previous-failure .failure-content-container {
    width: 600px;
}
.failure-content-container .failure-content{
    margin: 239px 80px 84.3px 20px;
    text-align: left;
}
.failure-content h2{
    color: #151414;
    font-size: 40px;
    font-weight: bold;
}
.failure-content p{
    margin-top: 20px;
    color: #444343;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 8px;
}
.failure-content .block{
    margin-top: 8px;
}
